#ignore everything inside workspace folder except the txt file
/vitis/workspace/*
!/vitis/workspace/create_Vitis_workspace_here.txt

/vitis_kria/workspace
/vivado_kria/*
!/vivado_kria/constraints
!/vivado_kria/hdl

ip_cores/*/simulation/slprj/*

vitis/software/Baremetal/src/uz/uz_global_configuration.h

vitis/software/Baremetal/src/slprj/
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/buildInfo.mat
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/codedescriptor.dmr
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/codeInfo.mat
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/compileInfo.mat
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/defines.txt
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/modelsources.txt
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/rtw_proj.tmw
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/rtwtypeschksum.mat
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/uz_codegen0.mk
vitis/software/Baremetal/src/Codegen/slprj/
vitis/software/Baremetal/src/Codegen/uz_codegen0_ert_rtw/html/

.vscode/settings.json
control_algorithms/uz_FOC.slxc
