# IMAGES
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[jJ][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[pP][iI][cC][tT] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[pP][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[tT][gG][aA] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[tT][iI][fF][fF] filter=lfs diff=lfs merge=lfs -text

#DOCUMENTS
*.[pP][dD][fF] filter=lfs diff=lfs merge=lfs -text

# Packaging
*.[zZ][iI][pP] filter=lfs diff=lfs merge=lfs -text

# VIVADO
*.xsa filter=lfs diff=lfs merge=lfs -text

# ALTIUM?
*.pdn filter=lfs diff=lfs merge=lfs -text
