#ignore everything inside workspace folder except the txt file
/vitis/workspace/*
!/vitis/workspace/create_Vitis_workspace_here.txt
vivado/zusys/zusys.bxml
.vscode
vivado/zusys/zusys_ooc.xdc
ip_cores/*/simulation/slprj/*

vitis/export/Baremetal/slprj/

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/buildInfo.mat

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/codedescriptor.dmr

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/codeInfo.mat

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/compileInfo.mat

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/defines.txt

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/modelsources.txt

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/rtw_proj.tmw

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/rtwtypeschksum.mat

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/uz_codegen0.mk

vitis/export/Baremetal/Codegen/slprj/

vitis/export/Baremetal/Codegen/uz_codegen0_ert_rtw/html/
