### Xilinx Vivado ###
# short gitignore for our project specific



*/*.srcs/sources*/bd/zusys/hdl/*
!*/*.srcs/sources*/bd/zusys/hdl/*_wrapper.vhd
*/sources*/bd/*/hw_handoff/*
*/sources*/bd/*/synth/*
*.hw/*
/*.srcs/sources*/bd/*/hdl/*
!/*.srcs/sources*/bd/*/hdl/*_wrapper.vhd
/*.srcs/sources*/bd/*/*
!/*.srcs/sources*/bd/*/*.bd

/*
!/zusys*
!*.xpr
!.gitignore

### Long gitignore based on template for Xilinx Vivado Design Suite
## [home]
#*.jou
#*.log
#*.debug
#*.str
#*.zip
#*.tmp
#*.rst
#*.os
#*.js
#*.pb
#*.dcp
#*.hwdef
#*.vds
#*.veo
#*.wdf
#*.vdi
#*.dmp
#*.rpx
#*.rpt
#*_stub.v
#*_stub.vhdl
#*_funcsim.v
#*_funcsim.vhdl
#*.ui
#*.bit
#*.ltx
#*_is_complete_*
#*.bxml
#*.ila
#*.wcfg
#*.wdb
#*.layout
#*.lpr
#*ooc*
#
## [dir]
#*.cache
#.metadata
#*.data
#*.ipdefs
#.Xil
#*.sdk
#*.hw
#*.ip_user_files
#
#### IP synth
#*_synth_*
#.jobs
#
#
##### project synth
#/*.runs/*
#
#### block design
#*/*/bd/*/ip/*
#*/*/bd/*/ipshared/*
#*/*/bd/*/sim/*
#*/*/bd/mref*
#
