solution1/csim
solution1/.autopilot
solution1/impl/ip
solution1/impl/misc
solution1/impl/verilog
solution1/impl/vhdl
solution1/syn/verilog
solution1/syn/vhdl

solution2/csim
solution2/.autopilot
solution2/impl/ip
solution2/impl/misc
solution2/impl/verilog
solution2/impl/vhdl
solution2/syn/verilog
solution2/syn/vhdl

solution3/csim
solution3/.autopilot
solution3/impl/ip
solution3/impl/misc
solution3/impl/verilog
solution3/impl/vhdl
solution3/syn/verilog
solution3/syn/vhdl

solution4/csim
solution4/.autopilot
solution4/impl/ip
solution4/impl/misc
solution4/impl/verilog
solution4/impl/vhdl
solution4/syn/verilog
solution4/syn/vhdl

solution5/csim
solution5/.autopilot
solution5/impl/ip
solution5/impl/misc
solution5/impl/verilog
solution5/impl/vhdl
solution5/syn/verilog
solution5/syn/vhdl
*.log
!solution1/export.tcl
!solution2/export.tcl
!solution3/export.tcl
!solution4/export.tcl
!solution5/export.tcl
*.xml
*.rpt
*.directive
*.json
*.aps
*.project
*.cproject
*.launch
*.app
*.protoinst
*.apfmapping
