solution1/csim
solution1/.autopilot
solution1/impl/ip
solution1/impl/misc
solution1/impl/verilog
solution1/impl/vhdl
solution1/syn/verilog
solution1/syn/vhdl
*.log
!solution1/export.tcl
*.xml
*.rpt
*.directive
*.json
*.aps
*.project
*.cproject
*.launch
*.app
*.protoinst
*.apfmapping
