sphinx==9.1.0
sphinx_rtd_theme
sphinxcontrib-mermaid
sphinxcontrib.youtube
six
sphinx-autobuild
sphinx-issues
sphinx-copybutton
sphinxcontrib-tikz
breathe
matplotlib
sphinx-plotly-directive
jupyterlab
jupyter-dash
ipywidgets
pandas
plotly
dash
matplotlib
bokeh
jupyter_bokeh
watchfiles # maybe required for sphinx-autobuild
starlette # maybe required for sphinx-autobuild
uvicorn # maybe required for sphinx-autobuild
pydata-sphinx-theme
pyarrow
plotly-resampler
pygwalker
streamlit
trace_updater
sphinx-design
sphinx-sitemap
snowballstemmer
seaborn
scipy